// Import font-size from Chrysler site to  make sure font layout on standalone page matches PROD.  Delete before moving to brand site
html {font-size: 62.5%;}
body {margin: 0}

.pageContainer {
  font-family: sans-serif;
  display: block;
  max-width: 1158px;
  margin: 0 auto;
  margin-top: 25px;
  border-top: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  border-radius: 5px;

  .psv-canvas-container canvas {
    //border: 1px solid #fff;
    //border-radius: 10px;
    position: absolute;
    z-index: 0;
  }
  .psv-container {
    background: transparent;
    overflow: visible;
  }
  #module360 {
    width: 1127px;
    position: relative;
    top: 15px;
    left: 15px;
  }
  .psv-container {
    overflow: visible;
    //width: 1125px;
    -webkit-box-shadow: inset 0 0 200px #000000;
    -moz-box-shadow: inset 0 0 200px #000000;
    box-shadow: inset 0 0 200px #000000;

    .psv-hud {
      overflow: hidden;
    }
    .psv-panel {
      display: none;
    }
    .psv-navbar {
      z-index: 40;
      position: absolute;
      height: 50px;
      background: transparent;
      bottom: -60px;
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
      transition: .5s filter linear;
      -webkit-transition: .5s -webkit-filter linear;
      -moz-transition: .5s -moz-filter linear;
      -ms-transition: .5s -ms-filter linear;
      -o-transition: .5s -o-filter linear;

      -webkit-box-shadow: inset 0 0 200px rgba(0, 0, 0, 0);
      -moz-box-shadow: inset 0 0 200px rgba(0, 0, 0, 0);
      box-shadow: inset 0 0 200px rgba(0, 0, 0, 0);
      transition: box-shadow .5s;

      &.navbarBlur > div{
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        transition: .5s filter linear;
        -webkit-transition: .5s -webkit-filter linear;
        -moz-transition: .5s -moz-filter linear;
        -ms-transition: .5s -ms-filter linear;
        -o-transition: .5s -o-filter linear;

        -webkit-box-shadow: inset 0 0 200px grey;
        -moz-box-shadow: inset 0 0 200px grey;
        box-shadow: inset 0 0 200px grey;
        transition: box-shadow .5s;
      }
      .st0 {
        transition: fill .5s ease;
      }
      .psv-zoom-button-minus, .psv-zoom-button-plus, .custom-button-reset-view, .psv-autorotate-button, .custom-button-pause-rotation, .psv-fullscreen-button {
        width: 60px;
        height: 50px;
        background: #000;
        opacity: .7;
        padding: 0;
      }
      .psv-zoom-button {
        width: 320px;
        height: 50px;
        padding: 0;
        margin: 0px 5px 0 0;

        svg {
          height: 50px;
        }
        .psv-zoom-button-range {
          float: left;
          padding: 4.5px 17px;
        }
      }
      .psv-zoom-button-line {
        width: 160px;
      }
      .psv-zoom-button-range {
        position: relative;
        top: 35%;

        .psv-zoom-button-line {
          height: 3px;
          background-color: #5a5958;
        }
        .psv-zoom-button-handle {
          border: 4px solid #fff;
          top: -9px;
          height: 15px;
          width: 15px;
          background-color: #5a5958;
        }
      }
      .custom-button-reset-view, .psv-autorotate-button, .psv-fullscreen-button, .custom-button-pause-rotation {
        margin: 0px 10px 0 0;
      }
      .psv-button-svg {
        top: 0;
      }
      .custom-button-reset-view, .custom-button-pause-rotation {
        img {
          opacity: .7;
          height: 50px;

          &:hover {
            opacity: 1;
          }
        }
      }
      .custom-button-pause-rotation {
        display: none;
      }
      .psv-fullscreen-button {
        margin-left: auto;
        margin-right: 25px;

        svg {
          width: 60px;
          height: 50px;
        }
      }
    }
  }

  // Pre-PSV launch cover page
  .module360Cover {
    //width: 1208px;
    height: 520px;
    background: url('./images/jeepCover.jpg') no-repeat;
    background-size: cover;
    margin: 20px;

    .module360CoverButton {
      z-index: 100;
      text-align: center;
      margin: 0 auto;
      width: 130px;
      padding: 20px;
      border-radius: 30px;
      position: relative;
      top: 70px;
      background: rgb(93, 123, 52) !important;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
      background: -moz-linear-gradient(top, rgba(93, 123, 52, 1) 0%, rgba(75, 98, 42, 1) 100%) !important;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(93, 123, 52, 1)), color-stop(100%, rgba(75, 98, 42, 1))) !important;
      background: -webkit-linear-gradient(top, rgba(93, 123, 52, 1) 0%, rgba(75, 98, 42, 1) 100%) !important;
      background: -o-linear-gradient(top, rgba(93, 123, 52, 1) 0%, rgba(75, 98, 42, 1) 100%) !important;
      background: -ms-linear-gradient(top, rgba(93, 123, 52, 1) 0%, rgba(75, 98, 42, 1) 100%) !important;
      background: linear-gradient(to bottom, rgba(93, 123, 52, 1) 0%, rgba(75, 98, 42, 1) 100%) !important;
      color: #fff !important;
      cursor: pointer;
    }
  }

  // customer marker styling
  //.psv-marker--normal {
  //  opacity: 1;
  //  line-height: 1em;
  //  color: rgb(93, 123, 52);
  //  outline: none;
  //  -webkit-backface-visibility: hidden;
  //  background-color: #000;
  //  background-color: rgba(0, 0, 0, 0.8);
  //  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
  //  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
  //  -webkit-border-radius: 50%;
  //  -moz-border-radius: 50%;
  //  border-top-left-radius: 50%;
  //  border-top-right-radius: 50%;
  //  border-bottom-left-radius: 50%;
  //  border-bottom-right-radius: 50%;
  //  width: 42px;
  //  height: 42px;
  //  font-size: 21px;
  //  font-size: 2.1rem;
  //  background-image: none !important;
  //}
  //.psv-marker--normal:after {
  //  content: '+';
  //  position: absolute;
  //  top: 50%;
  //  left: 50%;
  //  color: #fff;
  //  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  //  -webkit-transform: translateX(-50%) translateY(-50%);
  //  -moz-transform: translateX(-50%) translateY(-50%);
  //  -ms-transform: translateX(-50%) translateY(-50%);
  //  -o-transform: translateX(-50%) translateY(-50%);
  //  transform: translateX(-50%) translateY(-50%);
  //}

    //padding: 0px;
    //margin: 5px;
    //position: absolute;
    //cursor: pointer;
    //right: 0px;
    //width: 45px;
    //height: 45px;
    //background-image: url('./images/360_icon_hotspot_close.svg');
    .modalClose {
      position: absolute;
      cursor: pointer;
      right: 10px;
      top:7px;
      margin: auto;
      width: 30px;
      cursor: pointer;

      &.mobile {
        display: none;
      }
      .inner {
        width: inherit;
        text-align: center;
      }

      label {
        font-size: .8em;
        line-height: 3em;
        text-transform: uppercase;
        color: #000;
        transition: all .3s ease-in;
        opacity: 0;
        cursor: pointer;
      }

      .inner:before, .inner:after {
        position: absolute;
        content: '';
        height: 1px;
        width: inherit;
        background: #000;
        left: 0;
        transition: all .3s ease-in;
      }

      .inner:before {
        top: 50%;
        transform: rotate(45deg);
      }

      .inner:after {
        bottom: 50%;
        transform: rotate(-45deg);
      }

      &:hover label {
        opacity: 1;
      }

      &:hover .inner:before,
      &:hover .inner:after {
        transform: rotate(0);
      }

      &:hover .inner:before {
        top: 0;
      }

      &:hover .inner:after {
        bottom: 0;
      }
    }

  // Modal Styling
  .blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transition: .5s filter linear;
    -webkit-transition: .5s -webkit-filter linear;
    -moz-transition: .5s -moz-filter linear;
    -ms-transition: .5s -ms-filter linear;
    -o-transition: .5s -o-filter linear;

    -webkit-box-shadow: inset 0 0 200px #000000;
    -moz-box-shadow: inset 0 0 200px #000000;
    box-shadow: inset 0 0 200px #000000;
    transition: box-shadow .5s;
  }
  .navbarBlur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transition: .5s filter linear;
    -webkit-transition: .5s -webkit-filter linear;
    -moz-transition: .5s -moz-filter linear;
    -ms-transition: .5s -ms-filter linear;
    -o-transition: .5s -o-filter linear;

    -webkit-box-shadow: inset 0 0 200px grey;
    -moz-box-shadow: inset 0 0 200px grey;
    box-shadow: inset 0 0 200px grey;
    transition: box-shadow .5s;
  }

  .modalBackground {
    display: none;
    position: absolute;
    width: 100%;
    height: 590px;
    //background-color: rgb(0, 0, 0); /* Fallback color */
    //background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
    z-index: 40;
  }

  .module360Modals {
    display: block;
    height: 255px;
    width: 885px;
    position: absolute;

    .module360Modal {
      position: absolute;
      width: 100%;
      color: #fff;
      position: absolute;
      display: none;
      z-index: 50;

      .modalCopy, .modalImage {
        //height: 255px;
        img {
          height: auto;
        }
      }
      .modalCopy {
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 493px;
        height: 255px;
        background: #cecece;
        color: #000;
      }
      .modalDetail {
        font-size: 18px;
        display: block;
        padding: 20px 30px;

        sup {
          font-size: 10px;
          vertical-align: top;
          line-height: normal;
          position: initial;
        }
        .jeepSub {
          vertical-align: sub;
        }
      }

      .modalImage {
        float: left;
        width: 382px;
        height: 255px;
        margin-right: 10px;
      }
    }
    .modalFooter {
      display: inline-table;
      background-color: rgba(0, 0, 0, 0.5);
      height: 60px;
      width: 100%;
      margin-top: 10px;
      clear: both;
      font-size: 18px;

      .modalFooterRightArrow, .modalFooterLeftArrow {
        background-image: url(./images/360_icon_chevron.svg);
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        display: inline-block;
        vertical-align: text-bottom;
        position: relative;
      }
      .modalFooterLeft {
        float: left;
        padding-left: 20px;
        cursor: pointer;
        line-height: 60px;

        .modalFooterLeftArrow {
          margin-right: 10px;
          -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
          -moz-transform: rotate(180deg);        /* FF */
          -o-transform: rotate(180deg);          /* Opera */
          -ms-transform: rotate(180deg);         /* IE9 */
          transform: rotate(180deg);
        }
      }
      .modalFooterRight {
        float: right;
        padding-right: 20px;
        cursor: pointer;
        line-height: 60px;

        .modalFooterRightArrow {
          margin-left: 10px;
        }
      }
    }
  }
  #soflow {    z-index: 999;
    position: absolute;
    right: 0;}
  select#soflow, select#soflow-color {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
  }

  select#soflow-color {
    color: #fff;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
    background-color: #779126;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 15px;
  }

// MOBILE STLYING *****************
// The !importants are to override inline styling injected with JS
  &.mobile {
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0;

    .module360Cover {
      margin: 0;
      height: 150px;
    }
    #module360 {
      width: 100%;
      //height: 480px;
      top: 0;
      left: 0;
    }

    .psv-canvas-container {
      canvas {
        border-radius: 0px!important;
      }
    }
    .psv-container {
      width: 100% !important;

      .mobileTopnav {
        position: absolute;
        top: 0;
        color: #000;
        background-color: #ebebeb;
        font-size: 20px;
        line-height: 32px;
        width: 100%;
        text-align: left;
        z-index: 99;
        font-size: 14px;
        padding-left: 10px;

        span {
          float: right;
          margin-right: 20px;
        }
      }
      .module360Modals {
        max-width: 280px;
        top:80px;


        .module360Modal {
          .modalClose {
            &.outer {
              display: none;
            }
            &.mobile {
              display: block;
              top: -30px;
              display: block;
              right: 0;
              line-height: 1em;
              color: rgb(93, 123, 52);
              outline: none;
              -webkit-backface-visibility: hidden;
              background-color: #fff;
              background-color: rgba(255, 255, 255, 1);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
              -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-top-left-radius: 50%;
              border-top-right-radius: 50%;
              border-bottom-left-radius: 50%;
              border-bottom-right-radius: 50%;
              width: 25px;
              height: 25px;
              font-size: 21px;
              font-size: 2.1rem;
              background-image: none !important;

              &:after {
                content: '+';
                position: absolute;
                top: 3px;
                left: 4px;
                font-size: 30px!important;
                color: #000;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                -webkit-transform: rotate(45deg);
                -moz-transform: translateX(-50%) translateY(-50%);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);

              }
            }
          }
          .modalCopy {
            width: 100%;
            height: auto;
          }
          .modalDetail {
            padding: 20px 20px;
            font-size: 14px;
          }
          .modalImage {
            width: 100%;
            height: 100%;
            margin-right: 0;
            margin-bottom: 5px;

            img {
              height: auto;
            }
          }
          .modalFooter {
            font-size: 14px;
            height: 35px;
            background-color: rgba(0, 0, 0, .5);
            margin-top: 5px;

            .modalFooterRight, .modalFooterLeft {
              line-height: 35px;
            }
          }
        }
      }
      .psv-container--has-navbar {
        width: 100% !important;
      }
      .psv-navbar {
        justify-content: center;
        bottom: -50px;

        .custom-button-pause-rotation, .custom-button-reset-view, .psv-autorotate-button, .psv-fullscreen-button, .psv-zoom-button-minus, .psv-zoom-button-plus {
          width: 50px;
          height: 40px;
          background: #000;
          opacity: .7;
          padding: 0;
        }
        .psv-zoom-button svg {
          height: 40px;
        }
        .psv-autorotate-button, .custom-button-pause-rotation {
          margin-right: 0;
        }
        .psv-zoom-button {
          width: 110px;
          height: 40px;
          padding: 0;
          margin: 0 5px 0 0;
        }
        .custom-button-pause-rotation img, .custom-button-reset-view img {
          height: 40px;
        }

        @media (max-width: 600px) {
          .psv-zoom-button-range {
            display: block;
          }
        }
        .psv-zoom-button {
          width: 215px;
        }
        .psv-zoom-button-line {
          width: 100px;
        }
        .psv-zoom-button .psv-zoom-button-range {
          float: left;
          padding: 0px 5px;
          top: 50%
        }

        .psv-fullscreen-button svg {
          width: 50px;
          height: 35px;
        }
        .psv-fullscreen-button {
          display: none;
          margin-right: 20px !important
        }
      }
    }
  }

  .psv-marker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border-style: solid;
      border-width: 1px;
      border-color: white;
      box-sizing: border-box;
      animation: scale-before 2s infinite ease;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -15px;
      margin-left: -15px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border-style: solid;
      border-width: 1px;
      border-color: white;
      box-sizing: border-box;
      animation: scale-after 2s infinite 0.3s;
    }

    &:nth-of-type(2) {
      &:before {
        animation-delay: 0.3s;
      }

      &:after {
        animation-delay: 0.6s;
      }
    }

    &:nth-of-type(3) {
      &:before {
        animation-delay: 0.6s;
      }

      &:after {
        animation-delay: 0.9s;
      }
    }
  }


  /*//////// Animations ////////*/

  @keyframes scale-before {
    0% {
      transform: scale(0);
      opacity: 1;
    }

    40% {
      opacity: 0.5;
    }

    100% {
      transform: scale(2);
      opacity: 0;

    }
  }

  @keyframes scale-after {
    0% {
      transform: scale(0);
      opacity: 1;
    }

    40% {
      opacity: 0.5;
    }

    100% {
      transform: scale(3);
      opacity: 0;

    }
  }
}

