@import 'vars';
@import 'mixins';
@import 'psvModal';

.psv-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background: $psv-main-background;
  overflow: hidden;
}

.psv-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $psv-canvas-zindex;
}

.psv-canvas {
  display: block;
}

@import 'loader';
@import 'navbar';
@import 'hud';
@import 'panel';
@import 'tooltip';
@import 'module360';